<nav>
      <ul>
        <li><a href="index.html"><span class="primero"<i style='font-size:40px;'>&#10102;</i></span>Ejercicio 1</a></li>
        <li><a href="E2.html"><span class="segundo"<i style='font-size:40px;'>&#10103;</i></span>Ejercicio 2</a></li>
        <li><a href="E3.html"><span class="tercero"<i style='font-size:40px;'>&#10104;</i></span>Ejercicio 3</a></li>
        <li><a href="E4.html"><span class="cuarto"<i style='font-size:40px;'>&#10105;</i></span>Ejercicio 4</a></li>
        <li><a href="E5.html"><span class="quinto"<i style='font-size:40px;'>&#10106;</i></span>Ejercicio 5</a></li>
      </ul>
    </nav>
