* {
  box-sizing: border-box;
/*  border: thin solid black; */
}

body {
  margin: 0;
  padding: 0;
}

option:checked {
  height: 100px;
  width: 100px;
}

#Ej1  {
  border: 4px solid black;
  height: 40px;
  width: 130px;
  font-size: 20px;
}
#Ej1-2  {
  border: 4px solid black;
  height: 40px;
  width: 130px;
  font-size: 20px;
}

.button {
  background-color:lightgreen;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  height: 50px;
}


.example {
  border: thin solid #dadada;
  padding: 1em;
}


.container {
  min-height: 50px;
}

/* Example Trick: Checkmark visited links
Mark your visited links with checkmarks: */
#main-content a:visited:before {
  content:  "\2713 ";
}

.labeled  {
  position: relative;
  margin-top: 3em;
  border: thin solid gray;
  border-radius: 0.25em;
  background-color: lightgray;
}

.labeled:after {
  content: "";
  display: table;
  clear: both;
}

.labeled span {
  position: absolute;
  top: -2.333333em;
  left: 0;
  padding: 0.5em;
  border: thin solid gray;
  border-top-right-radius: 0.25em;
  border-top-left-radius: 0.25em;
  background-color: lightgray;
}

.bubble {
  float: left;
  background-color: red;
  min-width: 50px;
  min-height: 50px;
  border: thin solid black;
  text-align: center;
  padding: 0.5em;
}

#e2 .playzone {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.draggable { cursor: pointer; user-select: none; }
.droppable { cursor: crosshair; user-select: none; }

#e2 .rubish { background-color: red; padding: 1em; }
#e2 .bin { background-color: blue; padding: 1em; }
#e2 .paper { border: thin solid gray; background-color: lightgray; border-radius: 0.25em; padding: 0.5em; }
#e2 .trash { border: thin solid gray; background-color: lightgray; border-radius: 0.25em; padding: 0.5em; }



/* Declaring custom properties */
:root {
  --default-padding: 0.5em;
  --default-margin: 0.5em;
  --default-border-radius: 0.5em;
  --default-first-color:  black;
  --default-second-color:  grey;
  --default-background-color:  #ffffff;
  --default-text-first-color:  #ffffff;
  --default-text-second-color:  #000000;
}


h1 {
  background-color: black;
}
h6 {
  font-size: 50px;
}
h7 {
  font-size: 30px;
}
h8 {
  font-size: 20px;
}

body { margin: 0; }

#page {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;

  /* El mínimo que ocupará una fila del grid */
  grid-auto-rows: minmax(50px, auto);
  grid-row-gap: 0;
}

#topbar {
  grid-column: 1 / 6;
  grid-row: 1;

  background-color: var(--default-first-color);

 }

 #menu {
   padding: var(--default-padding);

 }

 .menu-item {
   float: left;
   color: #ffffff;
   padding: var(--default-padding);
   cursor: pointer;
 }

 .menu-item:hover {
   background-color: var(--default-second-color);
   border-radius: var(--default-border-radius);
 }

 #logo {
  float: left;
  padding: var(--default-padding);
  margin: var(--default-margin);
  color: #ffffff;
  font-weight: bold;
 }


#slider {
 grid-column: 1 / 6;
 grid-row: 2;

 margin-bottom: -4px;
 position: relative;
}



/* CLEARFIX */
#slider:after {
  content: "";
  display: table;
  clear: both;
}

#arrows {
    position: absolute;

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

    height: 33px;
    width: 100%;
    font-weight: bold;
}

#arrows > .previous {
  background-color: var(--default-first-color);
  color: var(--default-text-first-color);
  padding: var(--default-padding);
  float: left;
  position: relative;
}

#arrows > .next {
  background-color: var(--default-first-color);
  color: var(--default-text-first-color);
  padding: var(--default-padding);
  float: right;
  position: relative;

}


#cards-container {
  grid-column: 1 / 6;
  grid-row: 3;
  display: grid;
  background-color: #f4f4f4;
  padding: calc(2.5*var(--default-padding));
}

#cards {
  display: grid;


  /* Redistribución de columnas. Minimo 200px*/

  /* grid-template-columns: repeat(auto-fill, minmax(30em, 1fr)); */




  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  margin: 0 auto;
  width: 90%;
}

.card {
  text-align: center;
  padding: var(--default-padding);
  margin: var(--default-margin);
  background-color: var(--default-background-color);
  margin-bottom: calc(2.5*var(--default-margin));
  border-radius: var(--default-border-radius);
}

.card > a {
  background-color: var(--default-first-color);
  color: var(--default-text-first-color);
  padding: var(--default-padding);
  border-radius: var(--default-border-radius);
  border: none;
  text-decoration: none;
  position: relative;
  bottom: calc(-2.5*var(--default-padding));
}

.card > h2 {
  font-weight: lighter;
}

.card-img {
    font-size: 3em;
    color:  var(--default-first-color);
}


#bottom {
  grid-column: 1 / 6;
  grid-row: 4;
  padding: 0;
  margin: 0;
  background-color: var(--default-first-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#bottom-left {
  padding: var(--default-padding);
  margin: var(--default-margin);
}

#bottom-left > h2 {
  color: var(--default-text-first-color);
}

#bottom-left > p {
  color: var(--default-text-first-color);
}

.bottom-right-column {
  float: left;
  padding: var(--default-padding);
  margin: var(--default-margin);
}

.bottom-right-column > ul {
  color: var(--default-text-first-color);
}

#footer {
  grid-column: 1 / 6;
  grid-row: 5;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--default-second-color);
  padding: var(--default-padding);
  color: var(--default-text-first-color);
  font-weight: bold;
}

#footer-left {
    float: left;
    padding: var(--default-padding);
}

#footer-right {
    padding: var(--default-padding);
}

#footer-right > i {
  float: right;
  padding-left: var(--default-padding);
}







/* MENU CHETADISIMO */

* {
margin:0;
padding:0;
}



header {
margin-top:0px;
  width: 100%;
  overflow: hidden;
  height: 150px;

  z-index: 4;
}

nav {
  top:-20px;
  position: absolute;
  left:0;
  right:0;
margin:20px auto;
max-width:1000px;
width:90%;
}

nav ul {
list-style:none;
}

nav > ul {
display:table;
width:100%;
background:#000;
position:relative;
font-size: 20px;
}

nav > ul li {
display:table-cell;
}

/*Sub-menu*/
nav > ul > li:hover > ul {
display:block;
height:100%;
}
nav > ul > li > ul {
display:block;
position:absolute;
background:#000;
left:0;
right:0;
overflow:hidden;
height:0%;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}

nav > ul li a {
color:#fff;
display:block;
line-height:20px;
padding:20px;
position: relative;
text-align:center;
text-decoration:none;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}

nav > ul > li > ul > li a:hover {
background:#5da5a2;
}

nav > ul > li > a span {
background:#174459;
display:block;
height:100%;
width:100%;
left:0;
position:absolute;
top:-55px;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}

nav > ul > li > a span .icon {
display:block;
line-height:60px;
}

nav > ul > li > a:hover > span {
top:0;
}

/*Colores*/
nav ul li a .primero {
background:#0e5061;
}

nav ul li a .segundo {
background:#5da5a2;
}

nav ul li a .tercero {
background:#f25724;
}

nav ul li a .cuarto {
background:#174459;
}

nav ul li a .quinto {
background:#37a4d9;
}


/*Cambio de imagen*/

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}



/* CLICK en la iamgen  */
body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

* { box-sizing: border-box; }


body {
  margin: 0;
  padding: 0;
}

.example {
  border: thin solid #dadada;
  padding: 1em;
}


.container {
  min-height: 50px;
}

/* Example Trick: Checkmark visited links
Mark your visited links with checkmarks: */
#main-content a:visited:before {
  content:  "\2713 ";
}

.labeled  {
  position: relative;
  margin-top: 3em;
  border: thin solid gray;
  border-radius: 0.25em;
  background-color: lightgray;
}

.labeled:after {
  content: "";
  display: table;
  clear: both;
}

.labeled span {
  position: absolute;
  top: -2.333333em;
  left: 0;
  padding: 0.5em;
  border: thin solid gray;
  border-top-right-radius: 0.25em;
  border-top-left-radius: 0.25em;
  background-color: lightgray;
}

.bubble {
  float: left;
  background-color: red;
  min-width: 50px;
  min-height: 50px;
  border: thin solid black;
  text-align: center;
  padding: 0.5em;
}

#e2 .playzone {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.draggable { cursor: pointer; user-select: none; }
.droppable { cursor: crosshair; user-select: none; }

#e2 .rubish { background-color: red; padding: 1em; }
#e2 .bin { background-color: blue; padding: 1em; }
#e2 .paper { border: thin solid gray; background-color: lightgray; border-radius: 0.25em; padding: 0.5em; }
#e2 .trash { border: thin solid gray; background-color: lightgray; border-radius: 0.25em; padding: 0.5em; }

#e5 { position: relative; }
#e5 .result { padding: 0.5em; border: thin solid lightgray; }
#e5 strong { color: gray; }
